html, body {
  width: 100vw;
  height: 100vh;
  -webkit-user-select: none;

}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .5px;
  margin: 0;
  background-color: #212121;
}

#bundle-menu {
  height: 7vh;
  width: 100vw;
  background-color: red;
}

.nav-bundle {
  float: left;
  height: 100%;
  width: 10vw; /* assumes 10 bundles */
  background-color: blue;
  text-align: center;
  font-size: 2em;
  /*vertical-align: center;*/
  cursor: move;
}

.nav-selected {
  box-sizing: border-box;
  border: 2px solid white;
}

#temperature {
  background-color: pink;
}

#communications {
  background-color: yellow;
}

#power {
  background-color: green;
}

#navigation {
  background-color: cyan;
}

#container {
  width: 100vw;
  height: 90vh;
  position: relative;
}

.bundle {
  position: absolute;
  /* 
   * leave 0.6vw for handle-x width
   * leave 0.5vw for handle-y height
   */
  width: 49.7vw;
  height: calc(46.5vh - 0.25vw);
}

.top-left {
  left: 0;
  top: 0;
}

.top-right {
  left: 50.3vw; /* bundle width + handle-x width */
  top: 0;
}

.bottom-left {
  left: 0;
  top: calc(46.5vh + 0.25vw); /* bundle height + handle-y height */
}

.bottom-right {
  left: 50.3vw; /* bundle width + handle-x width */
  top: calc(46.5vh + 0.25vw); /* bundle height + handle-y height */
}

.handle {
  position: absolute;
  text-align: center;
  color: white;
  background-color: white;
}

.handle-x {
  width: 0.6vw;
  height: calc(46.5vh - 0.25vw);
  left: 49.7vw; /* bundle width */
  cursor: ew-resize;
}

.handle-y {
  width: 49.7vw;
  height: 0.5vw;
  top: calc(46.5vh - 0.25vw); /* bundle height */
  cursor: ns-resize; /* I don't know why this isn't working */
}

#top-x {
  top: 0;
}

#bottom-x {
  top: calc(46.5vh + 0.25vw); /* bundle height + handle-y height */
}

#left-y {
  left: 0;
}

#right-y {
  left: 50.3vw; /* bundle width + handle-x width */
}





.draggable { background: yellow; }


/*
Prototype:
Initialize a drag on mousedown
On mouseup, if mouse coordinates are left of the original position, rightmost bundle
will cover whole row. If they're right, left bundle covers row

There is a black dot in the middle right now. I'm ignoring it temporarily

Preferably handles will have equal width/height, but it's going to be annoying to
keep correcting until we use SASS or LESS or SCSS
*/